

/* --- FLEXBOX - Exemple 3 --- */ 

section {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid red;
	height: 500px;
	align-content: space-around;
}

section > div {
	background-color: yellow;
	border: 1px solid red;
	flex: 1 1 0;
}

section > div:last-child {
	flex-basis: 100%;
}
